<div id="app container">
  <h3>Welcome to Monster World</h3>

  <form>
    <input type="text" ng-model="monster.name">Enter monster's name</input>
    <input type="text" ng-model="monster.color">Enter monster's color</input>
    <input type="text" ng-model="monster.sound">Enter monster's sound</input>
    <button ng-click="$setPristine(); $ctrl.createMonster(monster)">Create Monster</button>
  </form>
  <button ng-click="$ctrl.getMonsters()" id="all-monsters">Show all monsters</button>
  <div class="col-md-5">
    <all-monsters monsters="$ctrl.monsters" >All Monsters</all-monsters>
  </div>
</div>